# .NET build outputs
bin/
obj/
out/

#Secrets
.env

# Rider project files
.idea/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio cache (sometimes created even if you use Rider)
.vs/
.vscode/
